%nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
  %a.navbar-brand{:href => root_path} Decoupage Editor
  %button.navbar-toggler{"aria-controls" => "navbarsExampleDefault", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarsExampleDefault", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarsExampleDefault.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        %a.nav-link{:href => "#"} Link
      %li.nav-item
        %a.nav-link.disabled{"aria-disabled" => "true", :href => "#", :tabindex => "-1"} Disabled
      = form_with( url: posts_path, class: "form-inline", method: :get,local: true) do |f|
        = f.text_field :search, value: params[:search], placeholder: "Search", class: "form-control mr-sm-2"
        = f.submit "Search", class: "btn btn-secondary my-2 my-sm-0"
    .my-2.my-lg-0
      #mySidenav.sidenav
        %a.closebtn{:href => "javascript:void(0)", :onclick => "closeNav()"} ×
        = link_to "Posts", posts_path
        = render partial: "layouts/page/registration_items"
        = render partial: "layouts/page/login_items"
      %span.menu-button{onclick: "openNav()"}=image_tag "menu-hamburger.svg"
