= form_with(model: @post, local: true) do |form|
  %h2= form_title(@post)
  .field
    = form.text_area :content, class: "tinymce", id:"editor", value: post_content(@post)

  .actions
    = form.submit class: "btn btn-primary" if can? :create, @post
