.album
  %h2 All posts
  .row
    -@posts.each do |post|
      .col-md-4
        .card
          .card-body
            %h5.card-title Card title
            %p.card-text= post_thumb_content(post)
            - if can? :read, post
              = link_to "Show Page", post_path(post), class: "card-link"
            - if can? :destroy, post
              = link_to "Delete Page", post_path(post), method: :delete, data: {confirm: "Are you sure?"}, class: "card-link"
            %small.text-muted= post_time_created(post)
