.container{
  margin-top: 70px;
}

.tox-editor-container{
  // width: 595px !important;
  height: 842px !important;
}

.card{
  padding: 10px;
  margin-bottom: 15px;
}
.card-body {
  .trix-content {
    img {
      width:120px;
      height: 120px;
    }
  }
  .btn-group{
    position: relative;
  }
}

// Post show

.A4 {
  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  padding: 2cm 1cm;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  overflow-y: scroll;
  img{
    width: 99.8%;
  }
}

@media print {
  .page-break {
    display: block;
    page-break-before: always;
  }

  size: A4 portrait;
}

@media print {
  body {
    margin: 0;
    padding: 0;
  }

  .A4 {
    box-shadow: none;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    overflow-y: hidden;
  }

  .noprint {
    display: none;
  }

  .enable-print {
    display: block;
  }
}
