!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DecoupagePage
    = csrf_meta_tags
    = csp_meta_tag
    %link{rel: "stylesheet", href: "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css", integrity: "sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk", crossorigin: "anonymous"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %script{src: "https://code.jquery.com/jquery-3.4.1.slim.min.js", integrity:"sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n", crossorigin:"anonymous"}
    %script{src: "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js", integrity: "sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI", crossorigin: "anonymous"}
    = tinymce_assets

  %body
    = render partial: 'layouts/page/header'
    %main.container
      - flash.each do |type, content|
        - if content.respond_to?('each')
          - content.each do |item|
            = render 'layouts/page/flash_msg', type: type, content: item
        - else
          = render 'layouts/page/flash_msg', type: type, content: content
      = yield
    = render partial: 'layouts/page/footer'
